# Compiled object files
*.o

# Executables
*.exe
*.out

# Compiled libraries
*.a
*.so

# Disable for now
*.cmake

# Build directory
/build/

# External directoy
# Third party download libraries
/external/

# Dependency files
*.d

# Editor/IDE specific files
.vscode/
# Dont track sonnar files
.scannerwork/

# Sonar scanner files
sonar-project.properties

# CDash files
Pipeline.cmake
